<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<!--  192.168.2.161
				127.0.0.1
			 -->
		<property name="url"
			value="jdbc:mysql://127.0.0.1:3306/crm?useUnicode=TRUE&amp;characterEncoding=UTF-8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>entity/SysRole.hbm.xml</value>
				<value>entity/Product.hbm.xml</value>
				<value>entity/CstLost.hbm.xml</value>
				<value>entity/SalChance.hbm.xml</value>
				<value>entity/CstCustomer.hbm.xml</value>
				<value>entity/SysUser.hbm.xml</value>
				<value>entity/SysRoleRight.hbm.xml</value>
				<value>entity/CstActivity.hbm.xml</value>
				<value>entity/CstService.hbm.xml</value>
				<value>entity/Storage.hbm.xml</value>
				<value>entity/CstLinkman.hbm.xml</value>
				<value>entity/SysRight.hbm.xml</value>
				<value>entity/BasDict.hbm.xml</value>
				<value>entity/SalPlan.hbm.xml</value>
				<value>entity/OrdersLine.hbm.xml</value>
				<value>entity/Orders.hbm.xml</value></list>
		</property></bean>
	<bean id="SysRoleDAO" class="entity.SysRoleDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ProductDAO" class="entity.ProductDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CstLostDAO" class="entity.CstLostDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SalChanceDAO" class="entity.SalChanceDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CstCustomerDAO" class="entity.CstCustomerDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SysUserDAO" class="entity.SysUserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SysRoleRightDAO" class="entity.SysRoleRightDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CstActivityDAO" class="entity.CstActivityDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CstServiceDAO" class="entity.CstServiceDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="StorageDAO" class="entity.StorageDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CstLinkmanDAO" class="entity.CstLinkmanDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SysRightDAO" class="entity.SysRightDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="BasDictDAO" class="entity.BasDictDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SalPlanDAO" class="entity.SalPlanDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="OrdersLineDAO" class="entity.OrdersLineDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="OrdersDAO" class="entity.OrdersDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean></beans>